<?xml version="1.0" encoding="utf-8"?>
<root>
  <!--读取调用  DotNet.Utilities.ConfigManager.GetString( "ContentVersion", "comadmin" );-->

  <!--js和css版本号-->
  <resource name="ContentVersion">20150109</resource>

  <!--如果是带有Http 可以这样写-->
  <!--<resource name="CDNReflushUrl"><![CDATA[http://qn.yizimg.com/api/qncdn/Prefetch?bucket=showimg&key={0}]]></resource>-->
  
  
</root>