<?xml version="1.0" encoding="utf-8"?>
<RouteConfiguration>
  <ignore>
    <!--忽略对.axd文件的Route，直接处理-->
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <add name="resource" value="\w+?" />
      </constraints>
    </add>
    <add url="{resource}.{ext}" >
      <constraints>
        <add name="resource" value="[\w|\-]+" />
        <add name="ext" value="(html|htm|aspx|php|zip|rar|asa|mp3|txt|gz|asp|ico|xml|bak|ashx)" />
      </constraints>
    </add>
  </ignore>
  <map>

    <route name="app" url="app" controller="home" action="app" ></route>
    <route name="seo" url="seo" controller="SEOStandard" action="Statistics" ></route>

    <route name="CatalogList" url="catalog/cataloglist/{DatumType}" controller="catalog" action="cataloglist" >
      <parameters>
        <add name="DatumType" value="" />
      </parameters>
    </route>
    <route name="CatalogEdit" url="catalog/{action}/{DatumType}_{CatId}" controller="catalog" action="Index" >
      <parameters>
        <add name="DatumType" value="" />
        <add name="CatId" value="" />
      </parameters>
    </route>

    <route name="NewsList" url="Datum/NewsList" controller="Datum" action="DatumList" >
      <parameters>
        <add name="DatumType" value="News" />
      </parameters>
    </route>
    <route name="NewsEdit" url="Datum/NewsEdit/{id}" controller="Datum" action="DatumEdit" >
      <parameters>
        <add name="DatumType" value="News" />
        <add name="id" value="" />
      </parameters>
    </route>
    <route name="ArticleList" url="Datum/ArticleList" controller="Datum" action="DatumList" >
      <parameters>
        <add name="DatumType" value="Article" />
      </parameters>
    </route>
    <route name="ArticleEdit" url="Datum/ArticleEdit/{id}" controller="Datum" action="DatumEdit" >
      <parameters>
        <add name="DatumType" value="Article" />
        <add name="id" value="" />
      </parameters>
    </route>


    <route name="ActivityList" url="Datum/ActivityList" controller="Datum" action="ActivityList" >
      <parameters>
        <add name="DatumType" value="Activity" />
      </parameters>
    </route>

    <route name="ActivityEdit" url="Datum/ActivityEdit/{id}" controller="Datum" action="ActivityEdit" >
      <parameters>
        <add name="DatumType" value="Activity" />
        <add name="id" value="" />
      </parameters>
    </route>


    <route name="FileList" url="Datum/FileList" controller="Datum" action="DatumList" >
      <parameters>
        <add name="DatumType" value="File" />
      </parameters>
    </route>
    <route name="FileEdit" url="Datum/FileEdit/{id}" controller="Datum" action="FileEdit" >
      <parameters>
        <add name="DatumType" value="File" />
        <add name="id" value="" />
      </parameters>
    </route>

    <route name="Default" url="{controller}/{action}/{id}" controller="Home" action="Index" >
      <parameters>
        <add name="id" value="" />
      </parameters>
    </route>



  </map>
</RouteConfiguration>