@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        header
        {
            background: url("/images/header-bg.png") repeat scroll 0 0 #006DCC;
            box-shadow: 0 1px 300px rgba(0, 0, 0, 0.9);
            margin-bottom: 30px;
            padding: 50px 0 20px;
        }
        header p
        {
            color: #FFFFFF;
            font-size: 30px;
            line-height: 1.2em;
            margin-bottom: 30px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
        .brand
        {
            color: #FFFFFF;
            font-size: 100px;
            font-weight: normal;
            left: -10px;
            line-height: 1;
            margin: 0 0 30px;
            position: relative;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        }
    </style>
</head>
<body>
    <header>
      <div class="container">
		<div class="row">
			<div class="span12 column text-center">
				<h1 class="brand">Asp.Net Mvc WebManger<span class="label label-info">BETA</span></h1>
					<p>
						一套基于asp.net mvc的<strong>开源</strong>后台管理系统</p>
					<p>
						<a href="/admin/account/login" class="btn btn-large">进入系统!</a>
						
					</p>
			</div>
		</div>
	</div>
   </header>
    <div class="container">
        <div class="row">
            <div class="span6">
                <img alt="面向前端开发者" class="pull-left" src="/images/theme_editor.png">
                <h2>
                    面向asp.net开发者</h2>
                <p>
                    asp.net开源不多,这套系统就是其中一个</p>
                <p>
                    目标:更开放,更好用</p>
                <p>
                    减少你的开发时间</p>
            </div>
            <div class="span6">
                 <img class="pull-left" alt="功能特点" src="/images/developer.png">
                <h2>
                    功能特点</h2>
                <p>
                    使用bootstrap2.3.1写的前端</p>
                <p>
                    asp.net mvc技术</p>
                <p>
                    更多开源技术的结晶!</p>
            </div>
        </div>
        <div class="row note-detail">
            <div class="span12">
                <div class="well text-center">
                    <h3>
                        asp.net mvc开源后台管理系统</h3>
                    <p class="mute">
                       我们正在努力完善这套系统,让它更好用. By<a href="http://www.kuiyu.net">奎宇工作室</a> </p>
                </div>
            </div>
        </div>
      
    </div>
    <script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
