<footer>
     <hr>                       
     <p class="pull-right">来自 <a href="http://www.kuiyu.net" target="_blank">http://www.kuiyu.net</a> by <a href="http://www.kuiyu.net" target="_blank">奎宇工作室</a></p>
     <p>&copy; 2013 <a href="http://www.kuiyu.net" target="_blank">奎宇工作室</a></p>
</footer>
