<div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
            </ul>
            <a class="brand" href="#"><span class="first">你的</span> <span class="second">
                公司名称</span></a>
        </div>
    </div>